/EvenOrOddNumbers/nbproject/private/
/FP02_controlStatement/nbproject/private/
/FP02_controlStatement/build/
/FP02_control Statement/nbproject/private/
/FP02_control Statement/build/
/workshops/until/WS03operators/BasicOperations/nbproject/private/
/workshops/until/WS03operators/BasicOperations/build/
/workshops/UNIT.1/WS03operators/BasicOperations/build/
/workshops/UNIT.1/WS03operators/BasicOperations/nbproject/private/
/assignments/HW02/HW02/nbproject/private/
/assignments/HW02/WH02/nbproject/private/
/assignments/HW02/WH02/build/
/workshops/unit1/WS04-LogicalOperations/nbproject/private/
/workshops/unit1/WS04-LogicalOperations/build/
/workshops/unit1/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/build/
/assignments/unit1/WH03/nbproject/private/
/assignments/unit1/WH03/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/assignments/unit1/HW04Menus/nbproject/private/
/assignments/unit1/HW04Menus/build/
/assignments/unit1/VasconezJustinQ11/nbproject/private/
/Examunit1/VasconezJustinQ11/nbproject/private/
/Examunit1/VasconezJustinQ11/build/
/workshops/JavaApplication15/nbproject/private/
/workshops/JavaApplication16/nbproject/private/
/workshops/JavaApplication16/build/
/workshops/WS08/nbproject/private/
/workshops/WS08/build/
/assignments/unit2/JavaApplication18/nbproject/private/
/assignments/unit2/JavaApplication18/build/
/assignments/unit2/JavaApplication19/nbproject/private/
/assignments/unit2/JavaApplication19/build/
/assignments/unit2/HW08-FactorialNumber/nbproject/private/
/assignments/unit2/W08-FactorialNumber/nbproject/private/
/assignments/unit2/W08-FactorialNumber/build/
/assignments/unit2/WH09-EmbeddedStructures/nbproject/private/
/assignments/unit2/WH09-EmbeddedNumbers/nbproject/private/
/assignments/unit2/WH09-EmbeddedNumbers/build/
/workshops/unit2/WS10Functions/nbproject/private/
/workshops/unit2/WS10Functions/build/
/assignments/unit2/WS10_Functions/nbproject/private/
/assignments/unit2/WS10_Functions/build/
/workshops/unit2/WS11ChangesTheVerbs/nbproject/private/
/workshops/unit2/WS11ChangesTheVerbs/build/
/assignments/unit2/WH11Recursion/nbproject/private/
/assignments/unit2/WH11Recursion/build/
/assignments/unit2/WH11Recursions/nbproject/private/
/assignments/unit2/WH11-Recursions/nbproject/private/
/assignments/unit2/WH11-Recursions/build/
/assignments/unit2/WH11Funtions/nbproject/private/
/assignments/unit2/WH11Funtions/build/
/workshops/unit2/WS12Libraries/nbproject/private/
/workshops/unit2/WS12Libraries/build/